version: 2.1

jobs:
  udagram-images:
    docker:
      - image: cimg/base:2024.09
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run: |
          docker build -t udagram-api-user ./udagram-api-user
          docker build -t udagram-api-feed ./udagram-api-feed
          docker build -t udagram-frontend ./udagram-frontend
          docker build -t reverseproxy ./udagram-reverseproxy
      - run:
          command: |
            TAG=1.0.$TAG_NUMBER
            echo "start building api user"
            docker tag udagram-api-user $DOCKER_USERNAME/udagram-api-user:$TAG
            echo "start building api feed"
            docker tag udagram-api-feed $DOCKER_USERNAME/udagram-api-feed:$TAG
            docker tag udagram-frontend $DOCKER_USERNAME/udagram-frontend:$TAG
            docker tag reverseproxy $DOCKER_USERNAME/reverseproxy:$TAG
      - run:
          name: Push application docker images
          command: | 
            docker --version
            TAG=1.0.$TAG_NUMBER
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker push $DOCKER_USERNAME/udagram-api-user:$TAG
            docker push $DOCKER_USERNAME/udagram-api-feed:$TAG
            docker push $DOCKER_USERNAME/udagram-frontend:$TAG
            docker push $DOCKER_USERNAME/reverseproxy:$TAG

workflows:
  version: 2
  udagram-images-workflow:
    jobs:
      - udagram-images




